.homepage-banner{
    display: flex;
    height: 200px;
    /*width: 500px;*/
}

.homepage-banner img {
    flex: auto;
}
.recipe-buttons{
    display:flex
}
.recipe-buttons button{
    flex:auto
    
}


.list{
    color: black;
    font-weight: 900;
    width: 500px;
}
.list#pancake-button{
    background-color: rgb(211, 182, 88);
}
.list#garden-button{
    background-color: rgb(131, 221, 78);
}
.list#steak-button{
    background-color: rgba(224, 122, 38, 0.801);
}
.list#back-button{
    background-color: cornflowerblue;
}

li{
    font-family: Arial, Helvetica, sans-serif;
}